= form_with model: [@conversation, @message] do |f|
  .field
    = f.text_field  :body, placeholder: "Your message"
    = f.submit "Send", class: "button"
    %br/
    = link_to "Back", conversations_path, class: "button"
