= turbo_frame_tag dom_id(message) do
  - if message.persisted?
    .callout
      .grid-x
        .medium-9.cell
          Sent at:
          = time_ago_in_words(message.created_at)
          ago
      = message.user.username
      said:
      = message.body
